---
import Header from "../components/Header.astro";
import Layout from "./Layout.astro";
import Blog from "../components/Blog.astro";
import MarkDown from "../components/MarkDown.astro";

import { parseDate } from "../lib/date.js";

import type { AstroComponentFactory } from "astro/runtime/server/index.js";

export type Props = {
	title: string;
	pubDate: Date;
	updatedDate: Date;
	Content: AstroComponentFactory;
};

const { title, pubDate, updatedDate, Content } = Astro.props;
---

<Layout {title}>
	<Header />
	<Blog>
		<h1 class="title">{title}</h1>
		<div>
			<div>
				<small>
					<time datetime={pubDate.toISOString()}>公開日: {parseDate(pubDate)}</time>
				</small>
			</div>
			<div>
				<small>
					<time datetime={updatedDate.toISOString()}>最終変更日: {parseDate(updatedDate)}</time>
				</small>
			</div>
		</div>
	</Blog>
	<Blog>
		<MarkDown>
			<Content />
		</MarkDown>
	</Blog>
</Layout>

<style is:global>
	.anchor {
		margin-left: 6px;
	}
</style>

<style>
	.title {
		font-weight: 700;
		font-size: 30px;
	}
</style>
